<p>customer works!</p>


<p><input [(ngModel)] ="customer.name"></p>
<p><input [(ngModel)] ="customer.birthdate"></p>
<br><p><button (click)="add()">Submit </button></p>

<p> Your name is {{customer.name}}
<p>{{customer.birthdate | date: "shortDate"}}</p>
<p>{{customer.birthdate | date: "mediumDate"}}</p>
<p>{{customer.birthdate | date: "longDate"}}</p>
<p>{{customer.birthdate | date: "fullDate"}}</p>
<p>{{customer.birthdate | date: "dd-MMM-yyyy"}}</p>

<button (click) ="changeDateFormat()"> Change Date Format</button>
<p> Birth Date is{{ customer.birthdate |date:format }}</p>